*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* mast background */
    background: url(./loginpage.jpg) no-repeat;
    background-position:center;
    background-size: cover;
}

.login-container{
    width: 400px;
    height: 500px;
    background:rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
     display: flex;
      align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    color: white;
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 2em;

}
.input-group{
    position: relative;
    border-bottom: 3px solid #fff;
    width: 330px;
    margin: 30px 0;
}

input:focus ~ label,
input:valid ~ label
{
    top: -5px;
}

.input-group input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;

    font-size: 1.2em;
    color: white;
    padding: 0 30px 0 10px;
}

.input-group label{
    position:absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: white;
    font-size: 1.2em;
    transition: 0.5s;
}

p{
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

p>a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

p>a:hover{
  
    text-decoration: underline;
    font-style: italic;

}

.login-btn{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
    transition: 0.7s;
}

.login-btn:hover{
    color: aliceblue;
    background: rgba(0, 0, 0, 0.3);

}