
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


header {
  height: 150px;
  background: black;
  color: red;
  padding: 25px;
  
  text-align: center;
}
header nav {
  margin-top: 10px;
}
header nav a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 6px;
}
header nav a.active,
header nav a:hover {
  background: mediumpurple;
  color: #1a1a40;
}


.hero {
  background: url("") no-repeat center center/cover;
  color: red;
  text-align: center;
  padding: 60px 20px;
}
.hero h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.hero p {
  font-size: 1.1rem;
}


.section-title {
  text-align: center;
  margin: 25px 0;
  font-size: 50px;
  color:  lightskyblue;
  font-size: 1.8rem;
}


.packages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 50px;
  padding: 20px;
}
.package {
  
  border-radius: 22px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.package:hover {
  transform: translateY(-5px);
    border: 2px soild black;
}
.package img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.details {
  padding: 15px;
}
.details h3 {
  color: #1a1a40;
  margin-bottom: 8px;
}
.details p {
  font-size: 0.95rem;
  color:  gray;
  margin-bottom: 10px;
}
.price {
  font-weight: bold;
  color: chartreuse;
  display: block;
  margin-bottom: 10px;
}
.btn {
  display: inline-block;
  padding: 8px 14px;
  background: #1a1a40;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s ease;
}
.btn:hover {
  background: #ffcc00;
  color: #1a1a40;
}


footer {
  background: #0d0d26;
  color: #ccc;
  text-align: center;
  padding: 12px;
  margin-top: 20px;
  font-size: 14px;
}